{% extends 'base.html' %}

{% block content %}
    <h1>REGISTRO</h1>

    <form class="formulario" action="/accounts/signup/" method="post">
        {% csrf_token %}

        {% if form.errors %}

            <div id="background-alert"> 
                <div class="alerta">
                    <div class="alert alert-warning">
                        <ul id="errors_list" style="list-style: none;"
                                {{ form.errors | cut:"asunto" }} </ul>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" id="close-button">
                            <button type="button" class="btn btn-primary btn-lg" onclick="this.parentElement.parentElement.parentElement.parentElement.style.display='none';">Aceptar</button>
                        </a>
                    </div>
                </div>
            </div>    

        {% endif %}

        {{ form }}
        <input type="submit" value="Signup">
    </form>
{% endblock content %}